
@{
    ViewData["Title"] = "CommonOperator";
}

<h2>CommonOperator</h2>

<div class="panel panel-default">
    <div class="panel-heading">Common Operator</div>
    <div class="panel-body">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xFWwWcZ74gU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div><br />
        <div>Code</div>
        <figure class="highlight">
            <pre><code><span>
                static void Main()
                {
                int Numerator = 10;
                int Denominator = 2;

                int Result = Numerator / Denominator;

                Console.WriteLine("Result = {0}", Result);
            </span></code></pre>
        </figure>
        <div>Output: </div>
        Result = 0
        <br /><br />
        <div>Code</div>
        <figure class="highlight">
            <pre><code><span>
                static void Main()
                {
                    int Number = 10;
                    int AnotherNumber = 20;
                
                    if(Number == 10 || AnotherNumber == 20)
                    {
                    Console.WriteLine("Hello");
                    }
                }
            </span></code></pre>
        </figure>
        <div>Output: </div>
        Hello
        <br /><br />
        <div>Code</div>
        <figure class="highlight">
            <pre><code><span>
                static void Main()
                {
                    int Number 15;

                    bool IsNumber10 = Number == 10 ? true : false;

                    Console.WriteLine("Number == 10 is {0}", IsNumber10);
                }
            </span></code></pre>
        </figure>
        <div>Output: </div>
        Number == 10 is False
        <br /><br />
        <div>Code</div>
        <figure class="highlight">
            <pre><code><span>
                static void Main()
                {
                    int Number = 10;

                    bool IsNumber10;

                    if(Number == 10){
                        IsNumber10 = true;
                    }
                    else{
                        Isnumber10 = false;
                    }

                    Console.WriteLine("Number == 10 is {0}", IsNumber10);
                }
            </span></code></pre>
        </figure>
        <div>Output: </div>
        Number == 10 is true
    </div>
</div>