
@{
    ViewData["Title"] = "DatatypesConversion";
}

<h2>DatatypesConversion</h2>

<div class="panel panel-default">
    <div class="panel-heading">Datatypes Conversion</div>
    <div class="panel-body">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/IcDaNmGDMoM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br />
        <div>Code</div>
        <figure class="highlight">
            <pre><code><span>
                static void Main()
                {
                    float f = 123.45F;
 
                    int i = (int)f;    

                    Console.WriteLine(i);
                }
            </span></code></pre>
        </figure>
        <div>Output: </div>
        123
        <br /><br />
        <div>Code</div>
        <figure class="highlight">
            <pre><code><span>
                static void Main()
                {
                    string strNumber = "100";  

                    int Result = 0;

                    bool IsConversionSuccesfull = int.TryParse(strNumber, out Result);  

                    if (IsConversionSuccesfull)
                    {
                        Console.WriteLine(Result);
                    }
                    else
                    {
                        Console.WriteLine("Please enter a valid number");
                    }
                }
            </span></code></pre>
        </figure>
        <div>Output: </div>
        100
    </div>
</div>
