
@{
    ViewData["Title"] = "IfStatement";
}

<h2>IfStatement</h2>


<div class="panel panel-default">
    <div class="panel-heading">If Statement</div>
    <div class="panel-body">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_TIAA-vgNeY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div><br />
        <div>Code</div>
        <figure class="highlight">
            <pre><code><span>
                static void Main()
                {
                
                    Console.WriteLine("Please enter a number");

                    int UserNumber = int.Parse(Console.ReadLine());

                    if(UserNumber == 1)
                    {
                    Console.WriteLine("Your number is one");
                    }

                    else if (UserNumber == 2)
                    {
                    Console.WriteLine("Your number is two");
                    }

                    else if (UserNumber == 3)
                    {
                    Console.WriteLine("Your number is three");
                    }
                    else if (UserNumber != 1 && UserNumber != 2 && UserNumber != 3)
                    {
                    Console.WriteLine("Your number is not between 1 and 3");
                    }
                }
            </span></code></pre>
        </figure>
        <div>Output: </div>
        Please enter a number<br />
        5<br />
        Your number is not between 1 and 3
        <br /><br />
        <div>Code</div>
        <figure class="highlight">
            <pre><code><span>
                static void Main()
                {
                    int UserNumber = int.Parse(Console.ReadLine());

                    if(UserNumber == 10 || UserNumber == 20)
                    {
                    Console.WriteLine("Your Number is 10 or 20");
                    }
                    else
                    {
                    Console.WriteLine("");
                    }
                }
            </span></code></pre>
        </figure>
        <div>Output: </div>
        @*<textarea rows="10" cols="100%">
            123.22242433
                    </textarea>*@
        123.22242433
    </div>
</div>
