
@{
    ViewData["Title"] = "Introduction";
}

<h2>Introduction</h2>

<div class="panel panel-default">
    <div class="panel-heading">Introduction</div>
    <div class="panel-body">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="947" height="506" src="https://www.youtube.com/embed/SXmVym6L8dw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div>Code</div>
        <figure class="highlight">
            <pre><code><span>
    static void Main1()
    {
    Console.WriteLine("Welcome to C# Training 1");
    }
</span>
</code></pre>
        </figure>
    </div>
</div>
