
@{
    ViewData["Title"] = "Arrays";
}

<h2>Arrays</h2>


<div class="panel panel-default">
    <div class="panel-heading">Arrays</div>
    <div class="panel-body">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7sqUaw4g_iQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div><br />
        <div>Code</div>
        <figure class="highlight">
            <pre><code><span>
                static void Main()
                {
                    int[] EventNumbers = new int[3];

                    EventNumbers[0] = 0;
                    EventNumbers[1] = 2;
                    EventNumbers[2] = 4;
                    EventNumbers[3] = 6;

                    Console.WriteLine(EventNumbers[1]);
                }
            </span></code></pre>
        </figure>
        <div>Output: </div>
        2
    </div>
</div>
