
@{
    ViewData["Title"] = "Comments";
}

<h2>Comments</h2>


<div class="panel panel-default">
    <div class="panel-heading">Built</div>
    <div class="panel-body">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PRgAAokHBNw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div><br />
        <div>Code</div>
        <figure class="highlight">
            <pre><code><span>
                //      single line comments
                /*      multiple line comments  */
                ///     XML documentation comments
            </span></code></pre>
        </figure>
        <div>Output: </div>
       
    </div>
</div>
