
@{
    ViewData["Title"] = "StringType";
}

<h2>StringType</h2>

<div class="panel panel-default">
    <div class="panel-heading">String Type</div>
    <div class="panel-body">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5g3TTPaGVzE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div><br />
        <div>Code: </div>
        <figure class="highlight">
            <pre><code><span>
                static void Main()
                {
                string Name = "One\nTwo\nThree";
                string Location = "C:\\YourDrive\\Ahmad\\CSharpFolder";

                Console.WriteLine(Name);
                Console.WriteLine(Location);
                }
            </span></code></pre>
        </figure>
        <div>Output: </div>
        One<br />
        two<br />
        Three<br />
        <br />
        <div>Code: </div>
        <figure class="highlight">
            <pre><code><span>
                static void Main()
                {
                string Location = "C:\\YourDrive\\Ahmad\\CSharpFolder";

                Console.WriteLine(Location);
                }
            </span></code></pre>
        </figure>
        <div>Output: </div>
        C:\\YourDrive\\Ahmad\\CSharpFolder

    </div>
</div>
