@model CheatSheet.Models.ListVideos;
@{
    ViewData["Title"] = "Index";
}

<h2>Tutorial navigator</h2>
@foreach (var item in Model.lsVideos)
{
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        @*<img alt="100%x200" data-src="holder.js/100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTZjZmEyM2UzZTYgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNmNmYTIzZTNlNiI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTE1NjI1IiB5PSIxMDUuMjgyODEyNSI+MjQyeDIwMDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">*@<div class="caption">
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/@item.Id" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


            <h3>@item.Title</h3><p>
                @item.Description
            </p><p><a href="~/Tutorial/Introduction?v=@item.Id" class="btn btn-primary" role="button">Learn more</a><a href="#" class="btn btn-default" role="button">Add Favourite</a></p>
        </div>
    </div>
</div>

}


<script>
    var channelName = 'kudvenkat';
    var vidHeight = 400;
    var vidWidth = 500;
    var vidMaxResult = 20; // Maximum can be 50

    $(document).ready(function () {
        $.get("https://www.googleapis.com/youtube/v3/playlistItems", {
            part: 'contentDetails',
            forUsername: channelName,
            key: '  ' //Browser API Key
        },
            function (data) {
                $.each(data.items, function (i, item) {
                    console.log(item); // See in Browser Console
                    pid = item.contentDetails.relatedPlaylists.uploads;
                    getVideos(pid);
                })
            }
        );
        function getVideos(pid) {
            $.get("https://www.googleapis.com/youtube/v3/playlistItems", {
                part: 'snippet',
                maxResults: vidMaxResult,
                playlistId: pid,
                key: 'AIzaSyB7cEKc5O5lr9aF10Gr3ODo_AFbIGOjjHM' //Browser API Key
            },
                function (data) {
                    var outputVideo;
                    $.each(data.items, function (i, item) {
                        console.log(item); // See in Browser Console
                        vidId = item.snippet.resourceId.videoId;
                        outputVideo = '<li><iframe height="' + vidHeight + '" width="' + vidWidth + '" src=\"//www.youtube.com/embed/' + vidId + '"> </iframe></li>';

                        //Append to result list
                        $('#result').append(outputVideo);
                    })
                }
            );
        }
    });</script>
<script type="text/javascript">
    var tag = document.createElement('script');
    tag.id = 'iframe-demo';
    tag.src = 'https://www.youtube.com/iframe_api';
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    //var key = 'AIzaSyB7cEKc5O5lr9aF10Gr3ODo_AFbIGOjjHM';
    //var playlistId = 'PLAC325451207E3105';
    //var URL = 'https://www.googleapis.com/youtube/v3/playlistItems';

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('existing-iframe-example', {
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }
    function onPlayerReady(event) {
        document.getElementById('existing-iframe-example').style.borderColor = '#FF6D00';
    }
    function changeBorderColor(playerStatus) {
        var color;
        if (playerStatus == -1) {
            color = "#37474F"; // unstarted = gray
        } else if (playerStatus == 0) {
            color = "#FFFF00"; // ended = yellow
        } else if (playerStatus == 1) {
            color = "#33691E"; // playing = green
        } else if (playerStatus == 2) {
            color = "#DD2C00"; // paused = red
        } else if (playerStatus == 3) {
            color = "#AA00FF"; // buffering = purple
        } else if (playerStatus == 5) {
            color = "#FF6DOO"; // video cued = orange
        }
        if (color) {
            document.getElementById('existing-iframe-example').style.borderColor = color;
        }
    }
    function onPlayerStateChange(event) {
        changeBorderColor(event.data);
    }


</script>






<script>
    $(document).ready(function () {



        var key = 'AIzaSyB7cEKc5O5lr9aF10Gr3ODo_AFbIGOjjHM';
        var playlistId = 'PLAC325451207E3105';
        var URL = 'https://www.googleapis.com/youtube/v3/playlistItems';

        var options = {
            part: 'snippet',
            key: key,
            maxResults: 20,
            playlistId: playlistId
        }

        loadVids();

        function loadVids() {
            $.getJSON(URL, options, function (data) {
                console.log(data);
                var id = data.items[0].snippet.resourceId.videoId;
                mainVid(id);
                resultsLoop(data);
            })
        }

        function mainVid(id) {
            $('#video').html(`<iframe
                                                                    width="640" height="360" src="https://www.youtube.com/embed/${id}"
                                                                    frameborder="0" style="border: solid 4px #37474F" ></iframe>`);
        };



        function resultsLoop(data) {

            $.each(data.items, function (i, item) {

                var thumb = item.snippet.thumbnails.medium.url;
                var title = item.snippet.title;
                var desc = item.snippet.description.substring(0, 100);
                var vid = item.snippet.resourceId.videoId;

                $('main').append(` <img src="${thumb}" alt=""  class="thumb">
                                                                            <h3>${title}</h3>
                                                                            <p>${desc}</p> <p<a href="~/Tutorial/ReadingAndWritingConsole"
                                                                            class="btn btn-primary" role="button">Learn more</a><a href="#"
                                                                            class="btn btn-default" role="button">Button</a> </p>
                                                        `);
            });
        }



    });


</script>




@*<script>

        {
     "kind": "youtube#playlistItemListResponse",
     "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/4d0e4ZxZgSWSXhn6jqCsLAB9Bxs\"",
     "nextPageToken": "CAoQAA",
     "pageInfo": {
      "totalResults": 102,
      "resultsPerPage": 10
     },
     "items": [
      {
       "kind": "youtube#playlistItem",
       "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/MOfiJ5_iW05FJK3RXukRDeA6xGE\"",
       "id": "UExBQzMyNTQ1MTIwN0UzMTA1Ljg4QTM3RjBDRDExRTFCQ0U=",
       "snippet": {
        "publishedAt": "2012-08-27T08:20:13.000Z",
        "channelId": "UCCTVrRB5KpIiK6V2GGVsR1Q",
        "title": "Part 1 - C# Tutorial - Introduction.avi",
        "description": "Text version of the video\nhttp://csharp-video-tutorials.blogspot.com/2012/06/part-1-c-tutorial-introduction.html\n\nSlides\nhttp://csharp-video-tutorials.blogspot.com/2013/08/part-1-introduction-to-c.html\n\nAll C# Text Articles\nhttp://csharp-video-tutorials.blogspot.co.uk/p/free-c-video-tutorial-for-beginners.html\n\nAll C# Slides\nhttp://csharp-video-tutorials.blogspot.com/p/c.html\n\nAll Dot Net and SQL Server Tutorials in English\nhttps://www.youtube.com/user/kudvenkat/playlists?view=1&sort=dd\n\nAll Dot Net and SQL Server Tutorials in Arabic\nhttps://www.youtube.com/c/KudvenkatArabic/playlists\n\nIn this video, we will discuss\n1. Basic structure of a C# program. \n2. What is a Namespace. \n3. Purpose of Main method. \n\nSample program used in the demo\n// Namespace Declaration\nusing System;\n\nclass Pragim\n{\n    public static void Main()\n    {\n        // Write to console\n        Console.WriteLine (\"Welcome to PRAGIM Technologies!\"); \n    }\n} \n\nThe namespace declaration, using System, indicates that you are using the System namespace. A namespace is used to organize your code and is collection of classes, interfaces, structs, enums and delegates. Main method is the entry point into your application.",
        "thumbnails": {
         "default": {
          "url": "https://i.ytimg.com/vi/SXmVym6L8dw/default.jpg",
          "width": 120,
          "height": 90
         },
         "medium": {
          "url": "https://i.ytimg.com/vi/SXmVym6L8dw/mqdefault.jpg",
          "width": 320,
          "height": 180
         },
         "high": {
          "url": "https://i.ytimg.com/vi/SXmVym6L8dw/hqdefault.jpg",
          "width": 480,
          "height": 360
         },
         "standard": {
          "url": "https://i.ytimg.com/vi/SXmVym6L8dw/sddefault.jpg",
          "width": 640,
          "height": 480
         }
        },
        "channelTitle": "kudvenkat",
        "playlistId": "PLAC325451207E3105",
        "position": 0,
        "resourceId": {
         "kind": "youtube#video",
         "videoId": "SXmVym6L8dw"
        }
       }
      },
      {
       "kind": "youtube#playlistItem",
       "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/yTdOTQkTEglZ_grhaTmMIUnnWxQ\"",
       "id": "UExBQzMyNTQ1MTIwN0UzMTA1LjUwQTIwQjBFMDRFMjg0RUI=",
       "snippet": {
        "publishedAt": "2012-08-27T08:20:13.000Z",
        "channelId": "UCCTVrRB5KpIiK6V2GGVsR1Q",
        "title": "Part 2 - C# Tutorial - Reading and writing to a console.avi",
        "description": "Text version of the video\nhttp://csharp-video-tutorials.blogspot.co.uk/2012/06/part-2-c-tutorial-reading-and-writing.html\n\nSlides\nhttp://csharp-video-tutorials.blogspot.com/2013/08/part-2-reading-writing-to-console.html\n\nAll C# Text Articles\nhttp://csharp-video-tutorials.blogspot.co.uk/p/free-c-video-tutorial-for-beginners.html\n\nAll C# Slides\nhttp://csharp-video-tutorials.blogspot.com/p/c.html\n\nAll Dot Net and SQL Server Tutorials in English\nhttps://www.youtube.com/user/kudvenkat/playlists?view=1&sort=dd\n\nAll Dot Net and SQL Server Tutorials in Arabic\nhttps://www.youtube.com/c/KudvenkatArabic/playlists\n\nIn this video, we will discuss\n1. Reading from the console\n2. Writing to the console\n3. Two ways to write to console\n     a) Concatenation\n     b) Place holder syntax -- Most preferred\n\nCode samples used in the demo\nusing System;\n\nclass Program\n{\n    static void Main()\n    {\n       // Prompt the user for his name\n        Console.WriteLine(\"Please enter your name\");\n        // Read the name from console\n        string UserName = Console.ReadLine();\n       // Concatenate name with hello word and print\n        Console.WriteLine(\"Hello \" + UserName);\n\n        //Placeholder syntax to print name with hello word \n        //Console.WriteLine(\"Hello {0}\", UserName);\n    }\n}\n\nPlease note that C# is case sensitive language.",
        "thumbnails": {
         "default": {
          "url": "https://i.ytimg.com/vi/6QcHJ33YrYk/default.jpg",
          "width": 120,
          "height": 90
         },
         "medium": {
          "url": "https://i.ytimg.com/vi/6QcHJ33YrYk/mqdefault.jpg",
          "width": 320,
          "height": 180
         },
         "high": {
          "url": "https://i.ytimg.com/vi/6QcHJ33YrYk/hqdefault.jpg",
          "width": 480,
          "height": 360
         },
         "standard": {
          "url": "https://i.ytimg.com/vi/6QcHJ33YrYk/sddefault.jpg",
          "width": 640,
          "height": 480
         }
        },
        "channelTitle": "kudvenkat",
        "playlistId": "PLAC325451207E3105",
        "position": 1,
        "resourceId": {
         "kind": "youtube#video",
         "videoId": "6QcHJ33YrYk"
        }
       }
      },
      {
       "kind": "youtube#playlistItem",
       "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/qeYOZDrGAY6L8EpEZAcSdRprcFA\"",
       "id": "UExBQzMyNTQ1MTIwN0UzMTA1LkE4QTUyODA1RERDNTUwNDA=",
       "snippet": {
        "publishedAt": "2012-08-27T08:20:13.000Z",
        "channelId": "UCCTVrRB5KpIiK6V2GGVsR1Q",
        "title": "Part 3 - C# Tutorial - Built - in types.avi",
        "description": "Text version of the video\nhttp://csharp-video-tutorials.blogspot.co.uk/2012/06/part-3-c-tutorial-built-in-types.html\n\nSlides\nhttp://csharp-video-tutorials.blogspot.com/2013/08/part-3-built-in-types-in-c.html\n\nAll C# Text Articles\nhttp://csharp-video-tutorials.blogspot.co.uk/p/free-c-video-tutorial-for-beginners.html\n\nAll C# Slides\nhttp://csharp-video-tutorials.blogspot.com/p/c.html\n\nAll Dot Net and SQL Server Tutorials in English\nhttps://www.youtube.com/user/kudvenkat/playlists?view=1&sort=dd\n\nAll Dot Net and SQL Server Tutorials in Arabic\nhttps://www.youtube.com/c/KudvenkatArabic/playlists\n\nIn this video, we will discuss the different built-in types that are available in c#.\n\nBuilt-in types in C#\n1. Boolean type -- Only true or false \n2. Integral Types - sbyte, byte, short, ushort, int, uint, long, ulong, char\n3. Floating Types -- float and double\n4. Decimal Types \n5. String Type   \n\nEscape Sequences in C#\nhttp://msdn.microsoft.com/en-us/library/h21280bw.aspx\n\nVerbatim Literal is a string with an @ symbol prefix, as in @\"Hello\". \n\nVerbatim literals make escape sequences translate as normal printable characters to enhance readability. \n\nPractical Example:\nWithout Verbatim Literal : \"C:\\\\Pragim\\\\DotNet\\\\Training\\\\Csharp\" -- Less Readable\nWith Verbatim Literal : @\"C:\\Pragim\\DotNet\\Training\\Csharp\" -- Better Readable",
        "thumbnails": {
         "default": {
          "url": "https://i.ytimg.com/vi/y3k5d6xub-E/default.jpg",
          "width": 120,
          "height": 90
         },
         "medium": {
          "url": "https://i.ytimg.com/vi/y3k5d6xub-E/mqdefault.jpg",
          "width": 320,
          "height": 180
         },
         "high": {
          "url": "https://i.ytimg.com/vi/y3k5d6xub-E/hqdefault.jpg",
          "width": 480,
          "height": 360
         },
         "standard": {
          "url": "https://i.ytimg.com/vi/y3k5d6xub-E/sddefault.jpg",
          "width": 640,
          "height": 480
         }
        },
        "channelTitle": "kudvenkat",
        "playlistId": "PLAC325451207E3105",
        "position": 2,
        "resourceId": {
         "kind": "youtube#video",
         "videoId": "y3k5d6xub-E"
        }
       }
      },
      {
       "kind": "youtube#playlistItem",
       "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/Ux99ZM7Ix69R-84-8cgoE3KieNE\"",
       "id": "UExBQzMyNTQ1MTIwN0UzMTA1LjVFRUY2NzAxQ0Q2QUQ5MUY=",
       "snippet": {
        "publishedAt": "2012-08-27T08:20:13.000Z",
        "channelId": "UCCTVrRB5KpIiK6V2GGVsR1Q",
        "title": "Part 4 - C# Tutorial - String type in c#.avi",
        "description": "Text version of the video\nhttp://csharp-video-tutorials.blogspot.co.uk/2012/06/part-4-c-tutorial-string-type.html\n\nSlides\nhttp://csharp-video-tutorials.blogspot.com/2013/08/part-4-built-in-string-type-in-c.html\n\nAll C# Text Articles\nhttp://csharp-video-tutorials.blogspot.co.uk/p/free-c-video-tutorial-for-beginners.html\n\nAll C# Slides\nhttp://csharp-video-tutorials.blogspot.com/p/c.html\n\nAll Dot Net and SQL Server Tutorials in English\nhttps://www.youtube.com/user/kudvenkat/playlists?view=1&sort=dd\n\nAll Dot Net and SQL Server Tutorials in Arabic\nhttps://www.youtube.com/c/KudvenkatArabic/playlists\n\nIn this part of the c sharp tutorial we will learn\n1. Built-in string type\n2. Escape sequences\n3. Verbatim Literal",
        "thumbnails": {
         "default": {
          "url": "https://i.ytimg.com/vi/5g3TTPaGVzE/default.jpg",
          "width": 120,
          "height": 90
         },
         "medium": {
          "url": "https://i.ytimg.com/vi/5g3TTPaGVzE/mqdefault.jpg",
          "width": 320,
          "height": 180
         },
         "high": {
          "url": "https://i.ytimg.com/vi/5g3TTPaGVzE/hqdefault.jpg",
          "width": 480,
          "height": 360
         },
         "standard": {
          "url": "https://i.ytimg.com/vi/5g3TTPaGVzE/sddefault.jpg",
          "width": 640,
          "height": 480
         }
        },
        "channelTitle": "kudvenkat",
        "playlistId": "PLAC325451207E3105",
        "position": 3,
        "resourceId": {
         "kind": "youtube#video",
         "videoId": "5g3TTPaGVzE"
        }
       }
      },
      {
       "kind": "youtube#playlistItem",
       "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/BObMCdTGntKr0KcpNjBFAEamRFY\"",
       "id": "UExBQzMyNTQ1MTIwN0UzMTA1LkUxMzI1RUI3NkZDNDJGNTc=",
       "snippet": {
        "publishedAt": "2012-08-27T08:20:13.000Z",
        "channelId": "UCCTVrRB5KpIiK6V2GGVsR1Q",
        "title": "Part 5 - C# Tutorial - Common Operators in c#.avi",
        "description": "Text version of the video\nhttp://csharp-video-tutorials.blogspot.co.uk/2012/06/part-5-c-tutorial-common-operators.html\n\nSlides\nhttp://csharp-video-tutorials.blogspot.com/2013/08/part-5-common-operators-in-c.html\n\nAll C# Text Articles\nhttp://csharp-video-tutorials.blogspot.co.uk/p/free-c-video-tutorial-for-beginners.html\n\nAll C# Slides\nhttp://csharp-video-tutorials.blogspot.com/p/c.html\n\nAll Dot Net and SQL Server Tutorials in English\nhttps://www.youtube.com/user/kudvenkat/playlists?view=1&sort=dd\n\nAll Dot Net and SQL Server Tutorials in Arabic\nhttps://www.youtube.com/c/KudvenkatArabic/playlists\n\nIn this video, we will discuss the common operators that are available in c# programming language.\n\nAssignment Operator =\nArithmetic Operators like +,-,*,/,% \nConditional Operators like &&, ||\nTernary Operator ?:\nNull Coalescing Operator ?? \n\nProgram without ternary Operator\nusing System;\nclass Program\n{\n    static void Main()\n    {\n        int Number = 10;\n\n        bool IsNumber10;\n\n        if (Number == 10)\n        {\n            IsNumber10 = true;\n        }\n        else\n        {\n            IsNumber10 = false;\n        }\n\n        Console.WriteLine(\"i == 10 is {0}\", IsNumber10);\n    }\n}\n\nSame program with ternary Operator\nusing System;\nclass Program\n{\n    static void Main()\n    {\n        int Number = 10;\n\n        bool IsNumber10 = Number == 10 ? true : false;\n        \n        Console.WriteLine(\"i == 10 is {0}\", IsNumber10);\n    }\n}",
        "thumbnails": {
         "default": {
          "url": "https://i.ytimg.com/vi/xFWwWcZ74gU/default.jpg",
          "width": 120,
          "height": 90
         },
         "medium": {
          "url": "https://i.ytimg.com/vi/xFWwWcZ74gU/mqdefault.jpg",
          "width": 320,
          "height": 180
         },
         "high": {
          "url": "https://i.ytimg.com/vi/xFWwWcZ74gU/hqdefault.jpg",
          "width": 480,
          "height": 360
         },
         "standard": {
          "url": "https://i.ytimg.com/vi/xFWwWcZ74gU/sddefault.jpg",
          "width": 640,
          "height": 480
         }
        },
        "channelTitle": "kudvenkat",
        "playlistId": "PLAC325451207E3105",
        "position": 4,
        "resourceId": {
         "kind": "youtube#video",
         "videoId": "xFWwWcZ74gU"
        }
       }
      },
      {
       "kind": "youtube#playlistItem",
       "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/ji9_v5B28MDONHz0pSL5XtccZCA\"",
       "id": "UExBQzMyNTQ1MTIwN0UzMTA1LkVBMkYxRDZBNjZERjE1NjQ=",
       "snippet": {
        "publishedAt": "2012-08-27T08:20:13.000Z",
        "channelId": "UCCTVrRB5KpIiK6V2GGVsR1Q",
        "title": "Part 6 - C# Tutorial - Nullable Types.avi",
        "description": "Text version of the video\nhttp://csharp-video-tutorials.blogspot.co.uk/2012/06/part-6-c-tutorial-nullable-types.html\n\nSlides\nhttp://csharp-video-tutorials.blogspot.com/2013/08/part-6-nullable-types-in-c.html\n\nAll C# Text Articles\nhttp://csharp-video-tutorials.blogspot.co.uk/p/free-c-video-tutorial-for-beginners.html\n\nAll C# Slides\nhttp://csharp-video-tutorials.blogspot.com/p/c.html\n\nAll Dot Net and SQL Server Tutorials in English\nhttps://www.youtube.com/user/kudvenkat/playlists?view=1&sort=dd\n\nAll Dot Net and SQL Server Tutorials in Arabic\nhttps://www.youtube.com/c/KudvenkatArabic/playlists\n\nIn this part of the c sharp tutorial we will learn\n1. Nullable types in C#\n2. Null Coalescing Operator ??",
        "thumbnails": {
         "default": {
          "url": "https://i.ytimg.com/vi/HuLJbiqpIM0/default.jpg",
          "width": 120,
          "height": 90
         },
         "medium": {
          "url": "https://i.ytimg.com/vi/HuLJbiqpIM0/mqdefault.jpg",
          "width": 320,
          "height": 180
         },
         "high": {
          "url": "https://i.ytimg.com/vi/HuLJbiqpIM0/hqdefault.jpg",
          "width": 480,
          "height": 360
         },
         "standard": {
          "url": "https://i.ytimg.com/vi/HuLJbiqpIM0/sddefault.jpg",
          "width": 640,
          "height": 480
         }
        },
        "channelTitle": "kudvenkat",
        "playlistId": "PLAC325451207E3105",
        "position": 5,
        "resourceId": {
         "kind": "youtube#video",
         "videoId": "HuLJbiqpIM0"
        }
       }
      },
      {
       "kind": "youtube#playlistItem",
       "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/HnkVIpcu3pam-sGKcj3ZQ3Rz4wU\"",
       "id": "UExBQzMyNTQ1MTIwN0UzMTA1LjczQTA5QTYyQTJBNDhDNTA=",
       "snippet": {
        "publishedAt": "2012-08-27T08:20:13.000Z",
        "channelId": "UCCTVrRB5KpIiK6V2GGVsR1Q",
        "title": "Part 7   C# Tutorial   Datatypes conversion",
        "description": "Text version of the video\nhttp://csharp-video-tutorials.blogspot.co.uk/2012/06/part-7-c-tutorial-datatype-conversions.html\n\nSlides\nhttp://csharp-video-tutorials.blogspot.com/2013/08/part-7-datatype-conversions-in-c.html\n\nAll C# Text Articles\nhttp://csharp-video-tutorials.blogspot.co.uk/p/free-c-video-tutorial-for-beginners.html\n\nAll C# Slides\nhttp://csharp-video-tutorials.blogspot.com/p/c.html\n\nAll Dot Net and SQL Server Tutorials in English\nhttps://www.youtube.com/user/kudvenkat/playlists?view=1&sort=dd\n\nAll Dot Net and SQL Server Tutorials in Arabic\nhttps://www.youtube.com/c/KudvenkatArabic/playlists\n\nIn this video we will learn\n1. Implicit conversions\n2. Explicit Conversions\n3. Difference between Parse() and TryParse()",
        "thumbnails": {
         "default": {
          "url": "https://i.ytimg.com/vi/IcDaNmGDMoM/default.jpg",
          "width": 120,
          "height": 90
         },
         "medium": {
          "url": "https://i.ytimg.com/vi/IcDaNmGDMoM/mqdefault.jpg",
          "width": 320,
          "height": 180
         },
         "high": {
          "url": "https://i.ytimg.com/vi/IcDaNmGDMoM/hqdefault.jpg",
          "width": 480,
          "height": 360
         },
         "standard": {
          "url": "https://i.ytimg.com/vi/IcDaNmGDMoM/sddefault.jpg",
          "width": 640,
          "height": 480
         }
        },
        "channelTitle": "kudvenkat",
        "playlistId": "PLAC325451207E3105",
        "position": 6,
        "resourceId": {
         "kind": "youtube#video",
         "videoId": "IcDaNmGDMoM"
        }
       }
      },
      {
       "kind": "youtube#playlistItem",
       "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/9w10hTqAAS6BB4Rd9ORUJrG5_k0\"",
       "id": "UExBQzMyNTQ1MTIwN0UzMTA1LkU3MDhBQjAxMzBGQzA5QjY=",
       "snippet": {
        "publishedAt": "2012-08-27T08:20:13.000Z",
        "channelId": "UCCTVrRB5KpIiK6V2GGVsR1Q",
        "title": "Part 8 - C# Tutorial - Arrays in C#.avi",
        "description": "Text version of the video\nhttp://csharp-video-tutorials.blogspot.co.uk/2012/06/part-8-c-tutorial-arrays-in-c.html\n\nSlides\nhttp://csharp-video-tutorials.blogspot.com/2013/08/part-8-arrays-in-c.html\n\nAll C# Text Articles\nhttp://csharp-video-tutorials.blogspot.co.uk/p/free-c-video-tutorial-for-beginners.html\n\nAll C# Slides\nhttp://csharp-video-tutorials.blogspot.com/p/c.html\n\nAll Dot Net and SQL Server Tutorials in English\nhttps://www.youtube.com/user/kudvenkat/playlists?view=1&sort=dd\n\nAll Dot Net and SQL Server Tutorials in Arabic\nhttps://www.youtube.com/c/KudvenkatArabic/playlists\n\nIn this part of the c sharp tutorial we will learn\n1. Arrays in c#\n2. Advantages and dis-advantages of arrays",
        "thumbnails": {
         "default": {
          "url": "https://i.ytimg.com/vi/7sqUaw4g_iQ/default.jpg",
          "width": 120,
          "height": 90
         },
         "medium": {
          "url": "https://i.ytimg.com/vi/7sqUaw4g_iQ/mqdefault.jpg",
          "width": 320,
          "height": 180
         },
         "high": {
          "url": "https://i.ytimg.com/vi/7sqUaw4g_iQ/hqdefault.jpg",
          "width": 480,
          "height": 360
         },
         "standard": {
          "url": "https://i.ytimg.com/vi/7sqUaw4g_iQ/sddefault.jpg",
          "width": 640,
          "height": 480
         }
        },
        "channelTitle": "kudvenkat",
        "playlistId": "PLAC325451207E3105",
        "position": 7,
        "resourceId": {
         "kind": "youtube#video",
         "videoId": "7sqUaw4g_iQ"
        }
       }
      },
      {
       "kind": "youtube#playlistItem",
       "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/zqdaIuBdVDqjcMzHUw_TzTE4gOk\"",
       "id": "UExBQzMyNTQ1MTIwN0UzMTA1LjZDMjY3RDJDQkQ3Rjk1ODY=",
       "snippet": {
        "publishedAt": "2012-08-27T08:20:13.000Z",
        "channelId": "UCCTVrRB5KpIiK6V2GGVsR1Q",
        "title": "Part 9 - C# Tutorial - Comments in C#.avi",
        "description": "Text version of the video\nhttp://csharp-video-tutorials.blogspot.co.uk/2012/06/part-9-c-tutorial-comments.html\n\nSlides\nhttp://csharp-video-tutorials.blogspot.com/2013/08/part-9-comments-in-c.html\n\nAll C# Text Articles\nhttp://csharp-video-tutorials.blogspot.co.uk/p/free-c-video-tutorial-for-beginners.html\n\nAll C# Slides\nhttp://csharp-video-tutorials.blogspot.com/p/c.html\n\nAll Dot Net and SQL Server Tutorials in English\nhttps://www.youtube.com/user/kudvenkat/playlists?view=1&sort=dd\n\nAll Dot Net and SQL Server Tutorials in Arabic\nhttps://www.youtube.com/c/KudvenkatArabic/playlists\n\nIn this part of the c sharp tutorial we will learn\n1. Single line comments\n2. Multi line comments \n3. Introduction to XML documentation comments",
        "thumbnails": {
         "default": {
          "url": "https://i.ytimg.com/vi/PRgAAokHBNw/default.jpg",
          "width": 120,
          "height": 90
         },
         "medium": {
          "url": "https://i.ytimg.com/vi/PRgAAokHBNw/mqdefault.jpg",
          "width": 320,
          "height": 180
         },
         "high": {
          "url": "https://i.ytimg.com/vi/PRgAAokHBNw/hqdefault.jpg",
          "width": 480,
          "height": 360
         },
         "standard": {
          "url": "https://i.ytimg.com/vi/PRgAAokHBNw/sddefault.jpg",
          "width": 640,
          "height": 480
         }
        },
        "channelTitle": "kudvenkat",
        "playlistId": "PLAC325451207E3105",
        "position": 8,
        "resourceId": {
         "kind": "youtube#video",
         "videoId": "PRgAAokHBNw"
        }
       }
      },
      {
       "kind": "youtube#playlistItem",
       "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/Ch9JIYiuRdKwB1KQPHBjGibN_54\"",
       "id": "UExBQzMyNTQ1MTIwN0UzMTA1LkQzOTc3MzdEMjUxNjM1RTk=",
       "snippet": {
        "publishedAt": "2012-08-27T08:20:13.000Z",
        "channelId": "UCCTVrRB5KpIiK6V2GGVsR1Q",
        "title": "Part 10 - C# Tutorial - If statement in C#",
        "description": "Text version of the video\nhttp://csharp-video-tutorials.blogspot.co.uk/2012/06/part-10-c-tutorial-if-statement.html\n\nSlides\nhttp://csharp-video-tutorials.blogspot.com/2013/08/part-10-if-statement-in-c.html\n\nAll C# Text Articles\nhttp://csharp-video-tutorials.blogspot.co.uk/p/free-c-video-tutorial-for-beginners.html\n\nAll C# Slides\nhttp://csharp-video-tutorials.blogspot.com/p/c.html\n\nAll Dot Net and SQL Server Tutorials in English\nhttps://www.youtube.com/user/kudvenkat/playlists?view=1&sort=dd\n\nAll Dot Net and SQL Server Tutorials in Arabic\nhttps://www.youtube.com/c/KudvenkatArabic/playlists\n\nIn this part of the c sharp tutorial we will learn\n1. if statement \n2. If else statement \n3. Difference between && and &\n4. Difference between || and |",
        "thumbnails": {
         "default": {
          "url": "https://i.ytimg.com/vi/_TIAA-vgNeY/default.jpg",
          "width": 120,
          "height": 90
         },
         "medium": {
          "url": "https://i.ytimg.com/vi/_TIAA-vgNeY/mqdefault.jpg",
          "width": 320,
          "height": 180
         },
         "high": {
          "url": "https://i.ytimg.com/vi/_TIAA-vgNeY/hqdefault.jpg",
          "width": 480,
          "height": 360
         },
         "standard": {
          "url": "https://i.ytimg.com/vi/_TIAA-vgNeY/sddefault.jpg",
          "width": 640,
          "height": 480
         }
        },
        "channelTitle": "kudvenkat",
        "playlistId": "PLAC325451207E3105",
        "position": 9,
        "resourceId": {
         "kind": "youtube#video",
         "videoId": "_TIAA-vgNeY"
        }
       }
      }
     ]
    }

    </script>*@